footer {
    background-color: black;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center ;
}

footer span {
    font-size: 1em;
    font-weight: 200;
    color: rgb(120, 224, 250);
}
