
header {
    background-color: rgb(28, 28, 28);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

header h1 {
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;
    color: rgb(120, 224, 250);
    margin-right: 1.0em;

}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin-right: 1.3em;
    font-size: 1.5em;
}

header, a {
    color: #fff;
    transition: 0.4s ease-in-out;

}

header, a:hover {
    color: rgb(24, 165, 201);
}
