main{
    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN CONTENT */
main .main-content {
    display: flex;
    flex-direction: column;
}
main .main-content h2{
    font-size: 1.5em;
    margin-bottom: 2%;
}

main .main-content .text{
    margin-bottom: 10%;
}

main .main-content .text p{
    width: 100%;
    font-size: 1.0em;
    font-weight: 300;

}

/* Cards */

main .techs .cards-container{
    display: flex;
    align-items: center;
}

main .techs .cards-container .cards{
    padding: 10px;
    width: 120px;
    height: 120px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 1.8em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

main .techs .cards-container .cards img{
    width: 80%;
}

main .techs .cards-container .cards:hover{
    box-shadow: 0 0 8px #00e0ff;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}







